.panel.panel-default{
	position:relative;
	width: 55%;
	margin: 0 auto;
	right: 10%;
	background: none;
	background-color:none;
}

.panel.panel-default .panel-heading{
	background: none;
	text-align: center;

	font-size: 1.4em;
}

.btn.btn-primary{
	border : none;
	background-color:green;
}